@import "tailwindcss";

html {
  background-color: #000;
  margin: 0;
  padding: 0;
}

body, #root {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom Scrollbar Hide for Nav */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Base image styling */
img {
  user-select: none;
  -webkit-user-drag: none;
}